h1,h2,h3,h4{
	text-align: center;
	text-transform: uppercase;
}
p	{
	font-family: calibri;
	text-align: justify;
	text-align: center;
}

.layanankami {
	background-color: #c51f33;
	color: white;
}
.copyright {
	font-family: calibri;
	font-size: 20px;
	background-color: lightgrey;
}

hr {
	width: 50px;
}

footer {
	font-family: times new roman;
	font-size: 10px;
	text-align: center;
	text-transform: capitalize;
}